<!-- Example form with validation directives -->
<form ng-submit="editProfile()" name="accountForm" 
    validation-rule="account" 
    validation-run-after="getProfile">
    
    <input type="text" ng-model='user.first_name' name="first_name" validate="">
    
    <input type="text" ng-model='user.last_name' name="last_name" validate="">
    
    <select ng-options="c.id as c.name for c in countries" ng-model="user.country" name="country"  validate=""></select>
    
    <input type="tel" ng-model='user.phone_number' name="phone_number" validate="">
    
    <button type="submit" validation-submit="saveRequest,true" 
        ng-disabled="accountForm.$invalid || accountForm.$submitInProgress">{{lang.save}}</button>
        
    <input type="checkbox" ng-model="form.accept_terms" name="accept_terms" validate="">
    
</form>
